/ISI/bemestarws/nbproject/private/
/ISI/bemestarws/build/
/ISI/bemestarws/dist/
/TCI/TCI/build/
/TCI/TCI/nbproject/private/
/TCI/TCI1/build/
/TCI/TCI1/nbproject/private/
/TCI/TCI_UI/build/
/TCI/TCI_UI/nbproject/private/
/TCI/formulario/build/
/TCI/formulario/nbproject/private/